@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Crimson+Text&family=Gochi+Hand&family=Quicksand:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  font-family: theme("fontFamily.text");
  background-color: theme("colors.background");
}

body {
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  min-width: 100%;
  color: theme("colors.background");
  font-family: theme("fontFamily.cta");
  text-transform: uppercase;
  font-size: 1em;
}

h1 {
  font-family: theme("fontFamily.holidaze");
  color: theme("colors.background");
  font-size: 2em;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: theme("fontFamily.heading");
}

.home-image {
    object-fit: cover;
    object-position: center;
    max-height: 600px;
    height: 80vh;
}

@media (max-width: 768px) {
  .home-image {
    height: 400px !important;
}}
  
@media (max-width: 420px) {
  .home-image {
    height: 200px !important;
}}

.slick-prev:before,
.slick-next:before {
  color: theme("colors.dark") !important;
  background-color: theme("colors.background");
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: theme("colors.dark") !important;
  background-color: theme("colors.background");
}

.slick-prev,
.slick-next {
  color: theme("colors.dark") !important;
  background-color: theme("colors.background");
}

